.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 6rem var(--gap) 10rem;
}

/* não é a tag section, é o nome de uma classe */
.section {
    min-height: 100vh;
}

div.full-width{
    width: 100%;
    flex: 1 1 100%;
}